#cs-plus-admin-login-page-wrapper {
  --cs-plus-background-placeholder: 		var(--cs-plus-theme_image_placeholder) repeat center;
  --cs-plus-image-placeholder: 			var(--cs-plus-theme_image_placeholder);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
}

#cs-plus-admin-login-page-wrapper,
#cs-plus-admin-login-page-wrapper * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#cs-plus-admin-login-page-wrapper.is_mobile.landscape.size-xxs, #cs-plus-admin-login-page-wrapper.is_mobile.landscape.size-xs, #cs-plus-admin-login-page-wrapper.is_mobile.landscape.size-sm, #cs-plus-admin-login-page-wrapper.is_mobile.landscape.size-md {
  position: initial;
  height: initial;
}

#cs-plus-admin-login-page-wrapper.is_mobile.landscape.size-xxs .cs-plus-admin-content-wrapper, #cs-plus-admin-login-page-wrapper.is_mobile.landscape.size-xs .cs-plus-admin-content-wrapper, #cs-plus-admin-login-page-wrapper.is_mobile.landscape.size-sm .cs-plus-admin-content-wrapper, #cs-plus-admin-login-page-wrapper.is_mobile.landscape.size-md .cs-plus-admin-content-wrapper {
  margin: 20px auto;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: var(--cs-plus-theme_login-background, var(--cs-plus-background-placeholder));
  background-size: var(--cs-plus-theme_login-background-size);
  z-index: -1;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-background-wrapper #cs-plus-admin-video-background-player {
  background: #eee;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-background-wrapper #cs-plus-admin-video-background-player iframe {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 56.25vw;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  width: 177.77777778vh;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: var(--cs-plus-theme_login-side-position-order);
          flex-flow: var(--cs-plus-theme_login-side-position-order);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content {
  background: var(--cs-plus-theme_login-side-background);
  background-size: var(--cs-plus-theme_login-side-background-size);
  color: var(--cs-plus-theme_login-side-color);
  width: 350px;
  height: 370px;
  padding: 15px 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2), 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2), 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
  /*  Logo
                        ========================================================================== */
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--cs-plus-theme_login-side-overlay-color);
  mix-blend-mode: var(--cs-plus-theme_login-side-overlay-mode);
  opacity: var(--cs-plus-theme_login-side-overlay-amount);
  z-index: 1;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content .cs-plus-admin-login-logo {
  width: 100%;
  z-index: 2;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content .cs-plus-admin-login-logo h1 {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content .cs-plus-admin-login-logo h1 a {
  background-image: var(--cs-plus-theme_login-logo);
  background-size: inherit;
  background-position: center center;
  background-size: var(--cs-plus-theme_login-logo-size);
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0px;
  position: relative;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content .cs-plus-admin-login-logo h1 a::after {
  position: absolute;
  /* Positions psuedo element relative to .icon */
  top: 0px;
  left: 0px;
  width: 100%;
  /* Same dimensions as .icon */
  height: 100%;
  background: #EC008C;
  /* The color you want the icon to change to */
  mix-blend-mode: multiply;
  /* Only apply color on top of white, use screen if icon is black */
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content .cs-plus-admin-side-intro {
  color: var(--cs-plus-theme_login-side-color);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content .cs-plus-admin-side-intro h2 {
  font-size: 24px;
  font-weight: bold;
  color: inherit;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content .cs-plus-admin-side-intro .cs-plus-admin-side-intro-body {
  font-size: 14px;
  color: inherit;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content .cs-plus-admin-side-intro .cs-plus-admin-side-intro-body p {
  font-size: 18px;
  color: inherit;
  margin: 10px 0px;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper {
  position: relative;
  background-color: var(--cs-plus-theme_login-form-background);
  width: 350px;
  padding: 15px 50px;
  height: 450px;
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2), 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2), 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
  /*  Login form Title, Form and Buttons
                        ========================================================================== */
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper a {
  color: var(--cs-plus-theme_login-theme-primary);
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login {
  width: 100%;
  padding: 0px;
  /*  Logo
                            ========================================================================== */
  /*  Messages
                            ========================================================================== */
  /*  Login Form
                            ========================================================================== */
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login h1 {
  display: none;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login .cs-plus-admin-login-title {
  margin-bottom: 20px;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login .cs-plus-admin-login-title h2 {
  margin: 0px;
  padding: 0;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: -0.5px;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login p.message {
  padding: 0px;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  display: none;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login #login_error {
  padding: 0px;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  padding: 0;
  line-height: initial;
  position: relative;
  overflow: visible;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform br,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform br,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform br {
  display: none;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p {
  position: relative;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p + p,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p + p,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p + p {
  margin-top: 15px;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p.forgetmenot,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p.forgetmenot,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p.forgetmenot {
  float: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p.submit,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p.submit,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p.submit {
  float: none;
  text-align: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p.submit input.button#wp-submit,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p.submit input.button#wp-submit,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p.submit input.button#wp-submit {
  float: none;
  line-height: 1;
  height: initial;
  text-shadow: none;
  position: relative;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: var(--cs-plus-theme_login-button-color);
  background-color: var(--cs-plus-theme_login-button-background);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p.submit input.button#wp-submit:hover,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p.submit input.button#wp-submit:hover,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p.submit input.button#wp-submit:hover {
  color: var(--cs-plus-theme_login-button-color-hover);
  background-color: var(--cs-plus-theme_login-button-background-hover);
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p.submit input.button#wp-submit:active,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p.submit input.button#wp-submit:active,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p.submit input.button#wp-submit:active {
  color: var(--cs-plus-theme_login-button-color-active);
  background-color: var(--cs-plus-theme_login-button-background-active);
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p label,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p label,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 55px;
  padding-top: 20px;
  position: relative;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p label::before,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p label::before,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p label::before {
  content: '';
  position: absolute;
  top: 23px;
  font-size: 16px;
  left: 0px;
  width: 100px;
  height: 10px;
  color: #9e9e9e;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p label::after,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p label::after,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p label::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 2px;
  background-color: var(--cs-plus-theme_login-button-background);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p label.cs-autofilled::before,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p label.cs-autofilled::before,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p label.cs-autofilled::before {
  top: 0px;
  font-size: 12px;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p label.cs-autofilled::after,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p label.cs-autofilled::after,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p label.cs-autofilled::after {
  width: 100%;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p label[for=user_login]::before,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p label[for=user_login]::before,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p label[for=user_login]::before {
  content: 'Username';
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p label[for=user_pass]::before,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p label[for=user_pass]::before,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p label[for=user_pass]::before {
  content: 'Password';
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p label[for=user_email]::before,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p label[for=user_email]::before,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p label[for=user_email]::before {
  content: 'E-mail';
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p label br,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p label br,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p label br {
  display: none;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p label input.input,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p label input.input,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p label input.input {
  margin: 0px;
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  --input-color: rgb(158, 158, 158);
  background-color: transparent;
  border-radius: 0px;
  border-bottom: 1px solid rgba(158, 158, 158, 0.5);
  padding: 5px 0px;
  width: 100%;
  font-size: 16px;
  color: var(--input-color);
  line-height: 1;
  position: absolute;
  bottom: 0px;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p label input.input::-webkit-input-placeholder,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p label input.input::-webkit-input-placeholder,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p label input.input::-webkit-input-placeholder {
  color: rgba(127, 127, 127, 0.5);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p label input.input:-ms-input-placeholder,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p label input.input:-ms-input-placeholder,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p label input.input:-ms-input-placeholder {
  color: rgba(127, 127, 127, 0.5);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p label input.input::-ms-input-placeholder,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p label input.input::-ms-input-placeholder,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p label input.input::-ms-input-placeholder {
  color: rgba(127, 127, 127, 0.5);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p label input.input::placeholder,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p label input.input::placeholder,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p label input.input::placeholder {
  color: rgba(127, 127, 127, 0.5);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform p label input.input:-webkit-autofill,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform p label input.input:-webkit-autofill,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform p label input.input:-webkit-autofill {
  -webkit-transition: background-color 50000s ease-in-out 0s !important;
  transition: background-color 50000s ease-in-out 0s !important;
  color: var(--input-color);
  -webkit-text-fill-color: var(--input-color);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform .g-recaptcha,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform .g-recaptcha,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform .g-recaptcha {
  margin: 0px;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform .cs-plus-admin-login-links,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform .cs-plus-admin-login-links,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform .cs-plus-admin-login-links {
  margin-top: 24px;
  font-size: 12px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform .cs-plus-admin-login-links > div,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform .cs-plus-admin-login-links > div,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform .cs-plus-admin-login-links > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform .cs-plus-admin-login-links .cs-plus-admin-forgetmenot,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform .cs-plus-admin-login-links .cs-plus-admin-forgetmenot,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform .cs-plus-admin-login-links .cs-plus-admin-forgetmenot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform .cs-plus-admin-login-links .cs-plus-admin-forgetmenot label,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform .cs-plus-admin-login-links .cs-plus-admin-forgetmenot label,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform .cs-plus-admin-login-links .cs-plus-admin-forgetmenot label {
  font-size: inherit;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform .cs-plus-admin-login-links .cs-plus-admin-login-link-lostpw a,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform .cs-plus-admin-login-links .cs-plus-admin-login-link-lostpw a,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform .cs-plus-admin-login-links .cs-plus-admin-login-link-lostpw a {
  display: block;
  text-align: right;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform .cs-plus-admin-login-links a,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform .cs-plus-admin-login-links a,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform .cs-plus-admin-login-links a {
  color: var(--cs-plus-theme_login-theme-gray-light);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform .cs-plus-admin-login-links a:hover,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform .cs-plus-admin-login-links a:hover,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform .cs-plus-admin-login-links a:hover {
  color: var(--cs-plus-theme_login-theme-primary);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform .cs-plus-admin-login-link-register,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform .cs-plus-admin-login-link-register,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform .cs-plus-admin-login-link-register {
  position: absolute;
  bottom: -30px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: var(--cs-plus-theme_login-theme-gray-light);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform .cs-plus-admin-login-link-register a,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform .cs-plus-admin-login-link-register a,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform .cs-plus-admin-login-link-register a {
  color: var(--cs-plus-theme_login-theme-primary);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#loginform .cs-plus-admin-login-link-register a:hover,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#lostpasswordform .cs-plus-admin-login-link-register a:hover,
#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login form#registerform .cs-plus-admin-login-link-register a:hover {
  color: var(--cs-plus-theme_login-theme-primary-dark);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login p#nav {
  margin: 0px;
  padding: 0px;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login p#backtoblog {
  margin: 0px;
  padding: 0px;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper .cs-plus-admin-login-form-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper .cs-plus-admin-login-form-footer p {
  font-size: inherit;
  color: inherit;
}

@media (max-width: 768px) {
  #cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content {
    width: 40%;
  }
  #cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content .cs-plus-admin-side-intro {
    text-align: center;
  }
  #cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content .cs-plus-admin-side-intro h2 {
    font-size: 24px;
    line-height: 24px;
  }
  #cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content .cs-plus-admin-side-intro .cs-plus-admin-side-intro-body {
    font-size: 18px;
  }
  #cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper {
    width: 50%;
  }
}

@media (max-width: 576px) {
  #cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 20px;
  }
  #cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content {
    width: 80%;
    height: 30%;
  }
  #cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content .cs-plus-admin-side-intro h2 {
    font-size: 24px;
    text-align: center;
  }
  #cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content .cs-plus-admin-side-intro .cs-plus-admin-side-intro-body {
    display: none;
  }
  #cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper {
    width: 100%;
    height: 70%;
    min-height: 420px;
  }
  #cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login .cs-plus-admin-login-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login .cs-plus-admin-login-links div + div {
    margin-top: 16px;
  }
}

@media (max-width: 360px) {
  #cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-additional-content {
    width: 80%;
    height: 60px;
  }
  #cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-content .cs-plus-admin-login-wrapper #login h1 a {
    background-size: contain;
  }
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-content-inner-wrapper .cs-plus-admin-links {
  border: 1px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-login-footer {
  text-align: center;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  position: absolute;
  right: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: var(--cs-plus-theme_login-side-position-order);
          flex-flow: var(--cs-plus-theme_login-side-position-order);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-login-footer > p {
  color: inherit;
  width: 50%;
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-login-footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-login-footer a:hover {
  color: white;
}

@media (max-width: 576px) {
  #cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-login-footer {
    width: 100%;
    margin-top: 0px;
  }
  #cs-plus-admin-login-page-wrapper .cs-plus-admin-content-wrapper .cs-plus-admin-login-footer > p {
    width: 100%;
  }
}

/*  Hide Original Fields
    ========================================================================== */
#login form p.forgetmenot,
#login p#nav,
#login #backtoblog {
  display: none;
  visibility: none;
}

/*  Custom Checkbox
    ========================================================================== */
.cs_plus_checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  *display: inline-flex;
  vertical-align: middle;
  margin: 0 5px 0 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--cs-plus-theme_login-theme-gray-lighter);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.cs_plus_checkbox::before {
  content: '\e930';
  font-family: 'castor-line-icons';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.cs_plus_checkbox.checked {
  background-color: var(--cs-plus-theme_login-theme-primary);
}

.cs_plus_checkbox.checked::before {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cs_plus_checkbox.cs_plus_checkbox.disabled {
  border: 1px solid orange;
}

.cs_plus_checkbox.cs_plus_checkbox.checked.disabled {
  border: 1px solid orange;
}

@-webkit-keyframes csAutoFillStart {
  from {
    /**/
  }
  to {
    /**/
  }
}

@keyframes csAutoFillStart {
  from {
    /**/
  }
  to {
    /**/
  }
}

@-webkit-keyframes csAutoFillCancel {
  from {
    /**/
  }
  to {
    /**/
  }
}

@keyframes csAutoFillCancel {
  from {
    /**/
  }
  to {
    /**/
  }
}

input:-webkit-autofill {
  -webkit-animation-name: csAutoFillStart;
          animation-name: csAutoFillStart;
}

input:not(:-webkit-autofill) {
  -webkit-animation-name: csAutoFillCancel;
          animation-name: csAutoFillCancel;
}
/*# sourceMappingURL=material.css.map */